{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Тестовое задание VW</title>
        <link href="{% static 'libs/bootstrap/bootstrap-4.1.3/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'libs/bootstrap/bootstrap-4.1.3/css/bootstrap-grid.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'styles/styles.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block header %}
            <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="logo">
                                <a href="#">
                                    <img src="{% static 'img/LOGO.svg' %}">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="menu">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Научим</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Для кого курс</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Что входит</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Автор</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 flex-end-center">
                            <div class="callback">
                                <button class="btn btn--light-blue">Личный кабинет</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %}
            <section class="real-school">
                <div class="container">
                    <h1 class="color--light-blue">Доверьте ребёнку <span class="color--purple">управлять</span> собственными
                    <span class="color--purple">деньгами</span></h1>
                    <div class="row">
                        <div class="col-md-6 real-school__left-col">
                            <p class="text">Мы создали "Реальную школу", чтобы обезопасить подростков от необдуманных
                                финансовых поступков и дать успешные перспективы в будущем</p>
                            <button class="btn btn--purple">Записаться на курс</button>
                            <button class="btn btn--sand">Записаться на курс</button>
                        </div>
                        <div class="col-md-6 align-self-end real-school__right-col">
                            <img src="{% static 'img/peoples.svg' %}">
                        </div>
                    </div>
                </div>
            </section>

            <section class="finance-for-children">
                <div class="container">
                    <h2>Интерактивный курс по финансовой грамотности для детей и подростков</h2>
                    <div class="row">
                        <div class="col-md-6 finance-for-children__left-col align-self-center">
                            <img src="{% static 'img/peoples_and_money.svg' %}">
                        </div>
                        <div class="col-md-6 finance-for-children__right-col">
                            <h3>С первого урока ученики вовлечены в практические упражнения,
                                которые воспитывают в них</h3>
                            <div class="voice-area voice-area--width-90">
                                <p class="text">Креативность в поиске нестандартых ходов и решений</p>
                            </div>
                            <div class="voice-area voice-area--width-70">
                                <p class="text">Ответственное отношение к деньгам</p>
                            </div>
                            <div class="voice-area voice-area--width-65">
                                <p class="text">Уважение и чувство ценности к труду</p>
                            </div>
                        </div>
                    </div>
                    <h3>Задача курса <span class="color--purple">"Простые финансы"</span> – не просто рассказать про
                        деньги, а увлечь и дать возможность самостоятельно научится управлять деньгами и зарабатывать.</h3>
                </div>
            </section>

            <section class="for-whom">
                <div class="container">
                    <h2>Для кого этот курс?</h2>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Этот курс идеально подходит для подростков <span class="color--purple fw-7">10 - 14 лет</span>
                                независимо от их финансовых навыков.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="pluses">
                                <div class="pluses__img">
                                    <img src="{% static 'img/boys/Kid_1_1.svg' %}">
                                </div>
                                <div class="pluses__text text">
                                    Если они вообще не вникают в денежные дела семьи и не хотят брать на себя
                                    ответственность за личные накопления.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pluses">
                                <div class="pluses__img">
                                    <img src="{% static 'img/boys/Kid_2.svg' %}">
                                </div>
                                <div class="pluses__text text">
                                    Если они учатся сберегать средства, но ни вы, ни они не знают: а что можно сделать
                                    ещё, кроме как завести копилку?
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pluses">
                                <div class="pluses__img">
                                    <img src="{% static 'img/boys/Kid_3.svg' %}">
                                </div>
                                <div class="pluses__text text">
                                    Если они хотят самостоятельно накопить на крупную покупку – или же это важно вам,
                                    чтобы они научились ценить дорогие вещи.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pluses">
                                <div class="pluses__img">
                                    <img src="{% static 'img/boys/Kid_4_1.svg' %}">
                                </div>
                                <div class="pluses__text text">
                                    И ещё если они активно интересуются – как и где уже сейчас могут заработать деньги,
                                    во что вложить и как грамотно распоряжаться финансами.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <h1>Привет мир!</h1>
            <h2>Привет мир!</h2>
            <h3>Привет мир!</h3>
            <h4>Привет мир!</h4>
            <button class="btn">Жмакни на меня</button>
            <button class="btn btn--purple">Жмакни на меня</button>
            <button class="btn btn--sand">Жмакни на меня</button>
            <button class="btn btn--pink">Жмакни на меня</button>
            <button class="btn btn--light-blue">Жмакни на меня</button>
            <p class="text">Обычный текст</p>
        {% endblock %}
    </body>
</html>